/*    homepage styles     */


/* Header/Logo Title */
.header {


    position: absolute;

    /*float: left;*/
    padding: 9.5px;
    text-align: left;
    background: #5282bc;
    color: white;
    /*
    font: Candara;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    */

    font-size: 30px;
}
/* Page Content */
.content {
    padding:20px;
    text-align: center;

}
.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    /*font-size: 17px; */
    border: none;
    cursor: pointer;
}
input[type=text] {
    padding: 5px 10px;
    margin-top: 8px;
    font-size: 17px;
    box-sizing: border-box;}

.search-container button:hover {
    background: #ccc;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #ffffff;
    overflow: hidden;
    margin: 0;
}

#mainPage
{
    float:left;
    background:#5282bc; /*#7ea3d0;*/
    height: 30vh;


    position: absolute;
    top: 310px;
    padding: 10.5px;

    width: 317px;
    max-height: 568px;
    display: inline-block;

}
#chartdiv {
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}
#zoom
{
    position:absolute;
    top:0;
    right:0;
}
#chartdivwrapper {
    width: 100%;
    height:10vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}


