body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #ffffff;
  overflow: hidden;
  margin: 0;
}

#chartdiv {
  width: 100%;
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}
#zoom
{
  position:absolute;
  top:0;
  right:0;
}
#chartdivwrapper {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}